@tailwind base;
@tailwind components;
@tailwind utilities;


/* Star Rating */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: #d1d5db;
    cursor: pointer;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f59e0b;
}

.star-rating input:checked ~ label {
    color: #f59e0b;
}
